/HotelBooking/nbproject/private/
/HotelBookingApp/nbproject/private/
/HotelBookingApp/build/
/App/nbproject/private/
/App/build/
/App/dist/
/App/.env
/JavaApplication10/nbproject/private/
/Application/nbproject/private/
/app/nbproject/private/